.App {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* text-align: center; */
  padding: 0 15px;
  box-sizing: border-box;
}
@media (max-width: 800px) {
  .App {
    padding: 2px;
    /* padding-bottom: 30px; */
  }
}
* {
  margin: 0;
}
body {
  background-color: #f5f6fa;
}
.app__header {
  display: flex;
  /* margin-right: 10px; */
  justify-content: space-between;
  margin-bottom: 15px;
  align-items: center;
}
.app__left {
  flex: 0.7;
  padding: 15px;
  box-sizing: border-box;
}
@media (max-width: 990px) {
  .app__header h1 {
    font-size: 1.2rem;
  }
}
.app__data {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app__right {
  flex: 0.3;
  padding: 10px;
}
@media (max-width: 990px) {
  .App {
    flex-direction: column;
  }
  .app__right {
    padding-bottom: 45px;
  }
}
